/*------------------------------------*\
  Elements > Table
\*------------------------------------*/

table {
  width: 100%;
}

th {
  height: 50px;
  text-align: left;
}

th,
td {
  border-bottom: 1px solid #F7F7F7;
}

tr:nth-child(even) {
  background-color: #F7F7F7;
}