/*------------------------------------*\
  Elements > Table
\*------------------------------------*/

table {
  width: 100%;
  font-size: 1rem;
}

th {
  height: 50px;
  text-align: left;
}

th,
td {
  border: 1px solid #cccccc;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}
